.btn{
	position: relative;
    
	border: 1px solid #555;
    padding: 8px 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #333;
    outline: none;
    
    transition: all .2s linear;
}

.btn:hover{
	background:#333;
	color:#fff;
}

.btn::before{
	content:"";
    
	position: absolute;
	top:50%;
	right:-26px;
    
	width:40px;
	height:1px;
	background:#333;
    
    transition: all .2s linear;
}

.btn::after{
	content:"";

	position: absolute;
    top: 20%;
    right: -21px;

	width:1px;
	height:12px;
	background:#333;
    transform:skewX(45deg);

    transition: all .2s linear;
}

.btn:hover::before{
	right:-30px;
}

.btn:hover::after{
	right:-25px;
}